<!DOCTYPE html>
<html ng-app="youngStockMoneyApp">
<head>
  <title>Auth App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

  <!-- If you must use outside libs that aren't Angular-specific, include them BEFORE Angular. -->
  <script src="./vendor/jwt-decode.2.0.1.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
</head>

<body>
  <!-- NAV BAR -->
  <div class="container-fluid">
    <header ng-controller="NavbarController as vm">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <a ui-sref="welcome" class="navbar-brand">Home</a>
          <button ng-hide="vm.authService.isLoggedIn()" ui-sref="signin" type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
          <button ng-show="vm.authService.isLoggedIn()" ng-click= "vm.authService.logOut()" type="button" class="btn btn-default navbar-btn navbar-right">Sign out</button>
        </div>
      </nav>
    </header>

    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
          <a ui-sref="homePage">Home</a>
        </li>
        <li role="presentation" ui-sref-active="active">
          <a ui-sref="portfolioItem">My Stocks</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-show="main.user.isLoggedIn()">
          <a ui-sref="stocks">Stocks</a>
        </li>
        <li ng-show="main.user.isLoggedIn()">
          <a class="btn" ng-click="main.logOut()">Logout {{ main.user.name }}</a>
        </li>
      </ul>


    <main class="content" ui-view>
      <!-- ui-router (aka ui.router) inserts templates here -->
    </main>
  </div> <!-- div.container-fluid -->

  <footer>
    <hr>
    <span>Desiree Desario</span>
    <br>
    <span> 2016, Los Angeles CA</span>
  </footer>

  <script src="./app.js"></script>
  <script src="./app.routes.js"></script>
  <script src="./services/token.service.js"></script>
  <script src="./services/auth.service.js"></script>
  <script src="./services/user.service.js"></script>
  <script src="./controllers/signin.controller.js"></script>
  <script src="./controllers/navbar.controller.js"></script>
</body>
</html>
